* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.encabezado {

    height: 80px;
    padding: 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1)


}

.container {

    display: flex;
    gap: 15px;
    font-size: 18px;
    justify-content: flex-end;
    border-bottom: 3px solid black;
    padding-bottom: 10px;
}

.container a {
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}



.container a:hover {
    background-color: rgba(0, 0, 0, 0.752);
    color: white;
}


body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{

    flex: 1;
}


h1{
    text-align: center;
    font-size: 35px;
}

.experiencia{
    width: 90%;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.card{
  
    width: 48%;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
    


}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.card h2 {
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 15px;

}

.contacto {
    font-size: 17px;
}

footer h2 {
  margin: 0;
}


