* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.encabezado {

    height: 80px;
    padding: 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1)


}

.container {

    display: flex;
    gap: 15px;
    font-size: 18px;
    justify-content: flex-end;
    border-bottom: 3px solid black;
    padding-bottom: 10px;
}

.container a {
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}



.container a:hover {
    background-color: rgba(0, 0, 0, 0.752);
    color: white;
}

h1{
    text-align: center;
    font-size: 35px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{

    flex: 1;
}

form{
   display: flex;
    width: 90%;
    max-width: 600px;
    margin: 0px auto;
    flex-direction: column;
    gap: 15px;
}

label{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 5px;
}

input, textarea{
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    transition: 0.3s;
}

input:focus,
textarea:focus {
  background-color: #f0f0f0;
  border-color: black;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  outline: none;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  resize: vertical;
}

button {
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #333;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 15px;

}

.contacto {
    font-size: 17px;
}

footer h2 {
  margin: 0;
}

@media (max-width: 768px){
    .container{
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .container a{
        font-size: 14px;
        padding: 8px 12px;
    }

    h1{
        font-size: 26px;
        margin-top: 10px;

    }

    form{
        width: 90%;
        max-width: 100%;
        padding: 0 10px;
    
    }

    input,textarea{
        width: 100%;
        font-size: 14px;
    }

    button{
        width: 100%;
    }
}


