* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  padding-top: 110px;
}

.encabezado {

    height: 80px;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 1000;

}

.container {

    display: flex;
    gap: 15px;
    font-size: 18px;
    justify-content: flex-end;
    border-bottom: 3px solid black;
    padding-bottom: 10px;
   
}

.container a {
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}



.container a:hover {
    background-color: rgba(0, 0, 0, 0.752);
    color: white;
}


.nombre{

    text-align: center;
    margin-bottom: 30px;
}

.logo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    justify-content: center;
    border: 4px solid #ccc;
    padding: 5px;
    background: white;


}


.perfil {
    display: flex;
    align-items: center;
    gap: 150px;
    max-width: 900px;
    margin: 0 auto;

}

.info {
    max-width: 80%;
    font-size: 18px;
    text-align: justify;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    line-height: 1.6;
    transition: 0.3s;


}

.info:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.habilidades h2,
.objetivo h2,
.intereses h2{
    margin-bottom: 15px;
    font-size: 22px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}
.secciones {
    display: flex;
    justify-content: center;
    gap: 60px;
    max-width: 1200px;
    margin: 50px auto;
    align-items: stretch;
}

.habilidades,
.objetivo,
.intereses {
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
    max-width: 350px;
  flex: 1;



}

.objetivo p {

    text-align: justify;
    line-height: 1.6;
}

.intereses p {

    text-align: justify;
    line-height: 1.6;
}

.habilidades:hover,
.objetivo:hover,
.intereses:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.habilidades {
  flex: 1;
}
.habilidades ul {
    padding-left: 20px;

}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 15px;

}

.contacto {
    font-size: 17px;
}

footer h2 {
  margin: 0;
}

footer p {
  margin: 0;
}