* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.encabezado {

    height: 80px;

}

.container {

    display: flex;
    gap: 15px;
    font-size: 25px;
    position: relatives;
    justify-content: flex-end;
    border-bottom: 3px solid black;

}

.nombre{

    text-align: center;
    margin-bottom: 30px;
}

.logo img{

width: 200px;
height: 200px;
border-radius: 50%;
object-fit: cover;
object-position: top;
justify-content: center;


}

.perfil{
    display: flex;
    align-items: center;
    gap: 150px;
    max-width: 900px;
    margin: 0 auto;

}

.info{
    max-width: 80%;
    font-size: 18px;
    
}